POSTGRES_USER=admin
POSTGRES_PASSWORD=root
POSTGRES_DB=life-tracker
POSTGRES_PORT=5432

PORT=3000
CORS_ORIGIN=http://localhost:5173

DATABASE_URL="postgresql://admin:root@localhost:5432/life-tracker?schema=public"
JWT_SECRET='your-secret-key'
JWT_EXPIRES_IN=604800